.ant-modal-root {
    .ant-modal-mask {
        z-index: 20 !important;
    }

    .ant-modal-wrap {
        z-index: 20 !important;

        .ant-modal-body {
            padding: 20px 0;
        }

        .ant-modal-footer {
            .btn-ok {
                &:hover {
                    background-color: #ad343e;
                }
            }

            .btn-cancel {
                &:hover {
                    border-color: #ad343e;
                    color: #ad343e;
                }
            }
        }
    }
}
